.swiper-container {
  height: 100px;
  width: 150px;
  border: 1px solid gray;
}
.swiper-slide {
  height: 100px;
  width: 150px;
}
.slide-a {
  background: skyblue;
  height: 100px;
}
.slide-b {
  background: gold;
  height: 100px;
}
.slide-c {
  background: yellowgreen;
  height: 100px;
}
