.swiper-container {
  height: 200px;
  width: 250px;
  border: 1px solid gray;
}
.swiper-slide {
  height: 200px;
  width: 250px;
}
.slide-a {
  background: skyblue;
  height: 200px;
}
.slide-b {
  background: gold;
  height: 200px;
}
.slide-c {
  background: yellowgreen;
  height: 200px;
}

#integration.swiper-container {
  height: 350px;
  width: 525px;
}
#integration.swiper-slide {
  height: 350px;
  width: 525px;
}
.generic-container {
  border: 1px solid gray;
}
.hidden {
  display: none;
}
.counter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: white;
  color: black;
  padding: 5px;
}